h1 {
    margin: 15px;
    font-size: 50px;
    color: #212627;
    -webkit-text-stroke: 1px #61dafb;
}

.content__cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;

    h2 {
        margin: 0 0 20px;
    }

    &--description {
        margin: 0 40px;

        p {
            margin: 0;
        }
    }

    &--table {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

}